[submodule "transmission"]
	path = transmission
	url = git@github.com:ThisIsQasim/docker-transmission.git
[submodule "turn"]
	path = turn
	url = git@github.com:ThisIsQasim/docker-turnserver.git
[submodule "z-push"]
	path = z-push
	url = git@github.com:ThisIsQasim/z-push.git
[submodule "tastyigniter"]
	path = tastyigniter
	url = git@github.com:ThisIsQasim/TastyIgniter.git
[submodule "onlyoffice"]
	path = onlyoffice
	url = git@github.com:ThisIsQasim/Docker-DocumentServer.git
[submodule "apcupsd"]
	path = apcupsd
	url = git@github.com:ThisIsQasim/apcupsd.git
[submodule "speedtest-go"]
	path = speedtest-go
	url = git@github.com:ThisIsQasim/speedtest-go.git
[submodule "spoofdpi"]
	path = spoofdpi
	url = git@github.com:xvzc/SpoofDPI.git
[submodule "opensearch-operator"]
	path = opensearch-operator
	url = https://github.com/ThisIsQasim/opensearch-k8s-operator.git
	branch = fix/stale-exclusion-nodepool-removal
	shallow = true
[submodule "ingress-nginx"]
	path = ingress-nginx
	url = https://github.com/chainguard-forks/ingress-nginx.git
